<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookstore.member.mapper.MemberMapper">

    <insert id="createMember" parameterType="com.bookstore.member.domain.MemberDto">
        INSERT INTO member(member_name, member_email, member_password)
        VALUES (#{memberName}, #{memberEmail}, #{memberPassword})
    </insert>

    <select id="selectMemberByEmail" parameterType="String" resultMap="SelectMember">
        SELECT *
        FROM member a
                 LEFT OUTER JOIN address b
                                 ON a.member_email = b.memberEmail AND address_checkMain = 'MAIN'
        WHERE a.member_email = #{email}
    </select>

    <resultMap id="SelectMember" type="com.bookstore.member.domain.MemberDto">
        <result column="member_email" property="memberEmail"/>
        <result column="member_name" property="memberName"/>
        <result column="member_password" property="memberPassword"/>
        <result column="member_role" property="memberRole"/>
        <result column="member_rank" property="memberRank"/>
        <result column="member_registerDate" property="memberRegisterDate"/>
        <result column="member_point" property="memberPoint"/>
        <collection property="memberAddress" resultMap="addressDto"/>
    </resultMap>

    <resultMap id="addressDto" type="com.bookstore.mypage.domain.AddressDto">
        <result column="receiver_address" property="receiverAddress"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="receiver_phone" property="receiverPhone"/>
    </resultMap>



    <update id="updatePassword" parameterType="String">
        UPDATE member
        SET member_password = #{password}
        WHERE member_email = #{email}
    </update>


</mapper>
