<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookstore.home.mapper.HomeMapper">

    <!-- 인기 도서 출력 -->
    <select id="searchBookListGrade" resultType="com.bookstore.admin.domain.BookDto">
        SELECT *
        FROM book
        ORDER BY book_grade DESC
        LIMIT 10
    </select>

    <!-- 베스트셀러 도서 출력 -->
    <select id="searchBookListBest" resultType="com.bookstore.admin.domain.BookDto">
        SELECT *
        FROM book
        ORDER BY book_sellCount DESC, book_grade DESC
        LIMIT 10
    </select>

    <!-- 신간 도서 출력 -->
    <select id="searchBookListNew" resultType="com.bookstore.admin.domain.BookDto">
        SELECT *
        FROM book
        ORDER BY book_publishingDate DESC
        LIMIT 10
    </select>

    <!-- 도서 검색 상세 페이지 출력 -->
    <select id="bookSearchDetail" parameterType="int" resultType="com.bookstore.admin.domain.BookDto">
        SELECT *
        FROM book
        WHERE book_num = #{bookNum}
    </select>

    <!-- 도서 리뷰 출력 -->
    <select id="searchBookReview" parameterType="map" resultType="com.bookstore.home.domain.ReviewDto">
        SELECT *
        FROM review
        WHERE book_num = #{bookNum}
        ORDER BY review_date DESC , review_num DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 리뷰 삭제   -->
    <delete id="deleteReview" parameterType="int">
        DELETE
        FROM review
        WHERE review_num = #{reviewNum}
    </delete>

    <!-- 리뷰 수정  -->
    <update id="updateReview" parameterType="com.bookstore.home.domain.ReviewDto">
        UPDATE review
        SET review_grade = #{reviewGrade},
            review_comment = #{reviewComment}
        WHERE review_num = #{reviewNum}
    </update>

    <!-- 도서 리뷰 전체 개수 확인 -->
    <select id="countReview" resultType="int">
        SELECT COUNT(*)
        FROM review
    </select>

    <!-- 리뷰 수정 시 해당 도서 평점 평균을 재설정 하기 위해 필요한 쿼리 -->
    <select id="reviewSumAndCount" parameterType="com.bookstore.home.domain.ReviewDto" resultType="map">
        SELECT sum(review_grade) as sum, count(*) as count
        FROM review
        WHERE book_num = #{bookNum}
    </select>

    <!-- 도서 평점 수정 -->
    <update id="updateBookGrade">
        UPDATE book
        SET book_grade = #{bookGradeAverage}
        WHERE book_num = #{bookNum}
    </update>

    <!-- 도서 리뷰 등록   -->
    <insert id="enrollReview" parameterType="com.bookstore.home.domain.ReviewDto">
        INSERT INTO review(review_grade, member_email, book_num, review_comment)
        VALUES (#{reviewGrade}, #{memberEmail}, #{bookNum}, #{reviewComment})
    </insert>

    <!-- 도서 구매 여부 확인 -->
    <select id="purchaseConfirm" parameterType="com.bookstore.home.domain.ReviewDto" resultType="int">
        select COUNT(*)
        FROM `order`
        WHERE member_email = #{memberEmail} AND book_num = #{bookNum}
    </select>

    <!-- 도서 리뷰 중복 등록 여부 확인 -->
    <select id="reviewDuplicateConfirm" parameterType="com.bookstore.home.domain.ReviewDto" resultType="int">
        select COUNT(*)
        FROM review
        WHERE book_num = #{bookNum} AND member_email = #{memberEmail}
    </select>


</mapper>
