<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookstore.admin.mapper.AdminMapper">

    <insert id="enrollBook" parameterType="com.bookstore.admin.domain.BookDto">
        INSERT INTO book(book_title, book_price, book_publisher, book_author, book_publishingDate, book_category, book_content, book_stock, book_pictureUrl, book_thumbUrl)
        VALUES (#{bookTitle}, #{bookPrice}, #{bookPublisher}, #{bookAuthor}, #{bookPublishingDate}, #{bookCategory}, #{bookContent}, #{bookStock}, #{bookPictureUrl}, #{bookThumbUrl});
    </insert>

    <select id="countBookList" resultType="int">
        SELECT COUNT(*)
        FROM book
    </select>

    <select id="bookList" parameterType="map" resultType="com.bookstore.admin.domain.BookDto">
        SELECT *
        FROM book
        ORDER BY book_num DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchBookDetailByBookNum" parameterType="int" resultType="com.bookstore.admin.domain.BookDto">
        SELECT *
        FROM book
        WHERE book_num = #{bookNum}
    </select>

    <select id="searchBookSelectPage" parameterType="com.bookstore.common.utils.SearchCondition" resultType="com.bookstore.admin.domain.BookDto">
        SELECT *
        FROM  book
        WHERE true
        <include refid="searchBookCondition"/>
        ORDER BY book_num DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchBookResultCnt" parameterType="com.bookstore.common.utils.SearchCondition" resultType="int">
        SELECT count(*)
        FROM  book
        WHERE true
        <include refid="searchBookCondition"/>
    </select>

    <sql id="searchBookCondition">
        <choose>
            <when test='option=="T"'>
                AND book_title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND book_author LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (book_title   LIKE concat('%', #{keyword}, '%')
                OR   book_content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <update id="bookUpdate" parameterType="com.bookstore.admin.domain.BookDto">
        UPDATE book
        SET book_title = #{bookTitle}, book_author = #{bookAuthor}, book_publisher = #{bookPublisher}, book_publishingDate = #{bookPublishingDate},
            book_price = #{bookPrice}, book_content = #{bookContent}, book_category = #{bookCategory}, book_stock = #{bookStock},
            book_pictureUrl = #{bookPictureUrl}, book_thumbUrl = #{bookThumbUrl}
        WHERE book_num = #{bookNum}
    </update>

    <delete id="bookRemove" parameterType="int">
        DELETE
        FROM book
        WHERE book_num = #{bookNum}
    </delete>

    <select id="searchMemberResultCnt" parameterType="com.bookstore.common.utils.SearchCondition" resultType="int">
        SELECT count(*)
        FROM  member
        WHERE true
        <include refid="searchMemberCondition"/>
    </select>

    <sql id="searchMemberCondition">
        <choose>
            <when test='option=="E"'>
                AND member_email LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="N"'>
                AND member_name LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (member_email   LIKE concat('%', #{keyword}, '%')
                OR   member_name LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <select id="searchMemberSelectPage" parameterType="com.bookstore.common.utils.SearchCondition" resultType="com.bookstore.member.domain.MemberDto">
        SELECT *
        FROM  member
        WHERE true
        <include refid="searchMemberCondition"/>
        ORDER BY member_email DESC
        LIMIT #{offset}, #{pageSize}
    </select>






<!--    &lt;!&ndash; 주문내역 리스트 출력 &ndash;&gt;-->
<!--    <select id="searchOrderList" parameterType="com.bookstore.common.utils.SearchCondition" resultMap="OrderList">-->
<!--        SELECT *-->
<!--        FROM `order` a-->
<!--        LEFT JOIN  book b ON a.book_num = b.book_num-->
<!--        WHERE true-->
<!--        <include refid="searchOrderCondition"/>-->
<!--        ORDER BY order_date DESC-->
<!--        LIMIT #{offset}, #{pageSize}-->
<!--    </select>-->


<!--    <resultMap id="OrderList" type="com.bookstore.mypage.domain.OrderDto">-->
<!--        <result column="order_num" property="orderNum"/>-->
<!--        <result column="order_date" property="orderDate"/>-->
<!--        <result column="order_state" property="orderState"/>-->
<!--        <result column="book_orderCount" property="bookOrderCount"/>-->
<!--        <result column="member_email" property="memberEmail"/>-->
<!--        <result column="member_registerDate" property="memberRegisterDate"/>-->
<!--        <result column="member_address" property="memberAddress"/>-->
<!--        <collection property="cartInfoList" resultMap="BookInfo"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="BookInfo" type="com.bookstore.mypage.domain.CartDto">-->
<!--        <result column="book_num" property="bookNum"/>-->
<!--        <result column="book_title" property="bookTitle"/>-->
<!--        <result column="book_price" property="bookPrice"/>-->
<!--        <result column="book_pictureUrl" property="bookPictureUrl"/>-->
<!--        <result column="book_thumbUrl" property="bookThumbUrl"/>-->
<!--    </resultMap>-->

<!--    &lt;!&ndash; 주문내역 개수 확익 &ndash;&gt;-->
<!--    <select id="searchOrderListResultCnt" parameterType="com.bookstore.common.utils.SearchCondition" resultType="int">-->
<!--        SELECT count(*)-->
<!--        FROM `order` a-->
<!--        LEFT JOIN  book b ON a.book_num = b.book_num-->
<!--        WHERE true-->
<!--        <include refid="searchOrderCondition"/>-->
<!--    </select>-->







    <!-- 주문내역 리스트 출력 -->
    <select id="searchOrderList" parameterType="com.bookstore.common.utils.SearchCondition" resultMap="OrderList">
        SELECT a.order_number, count(b.order_number) as 'book_typeCount', order_date, ANY_VALUE(book_title) as 'book_title', ANY_VALUE(member_name) as 'member_name', ANY_VALUE(member_address) as 'member_address', ANY_VALUE(member_email) as 'member_email', ANY_VALUE(order_state) as 'order_state'
        FROM `order` a
        LEFT JOIN  order_book b ON a.order_number = b.order_number LEFT JOIN book c ON b.book_num = c.book_num
        WHERE true
        <include refid="searchOrderCondition"/>
        GROUP BY a.order_number, a.order_date
        ORDER BY order_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <resultMap id="OrderList" type="com.bookstore.mypage.domain.OrderDto">
        <result column="order_number" property="orderNumber"/>
        <result column="book_typeCount" property="bookTypeCount"/>
        <result column="order_date" property="orderDate"/>
        <result column="order_state" property="orderState"/>
        <result column="book_orderCount" property="bookOrderCount"/>
        <result column="member_email" property="memberEmail"/>
        <result column="member_name" property="memberName"/>
        <result column="member_registerDate" property="memberRegisterDate"/>
        <result column="member_address" property="memberAddress"/>
        <collection property="cartInfoList" resultMap="BookInfo"/>
    </resultMap>

    <resultMap id="BookInfo" type="com.bookstore.mypage.domain.CartDto">
        <result column="book_num" property="bookNum"/>
        <result column="book_title" property="bookTitle"/>
        <result column="book_price" property="bookPrice"/>
        <result column="book_pictureUrl" property="bookPictureUrl"/>
        <result column="book_thumbUrl" property="bookThumbUrl"/>
    </resultMap>

    <!-- 주문내역 개수 확익 -->
    <select id="searchOrderListResultCnt" parameterType="com.bookstore.common.utils.SearchCondition" resultType="int">
        SELECT count(*)
        FROM (
        SELECT a.order_number
        FROM `order` a
        LEFT JOIN  order_book b ON a.order_number = b.order_number LEFT JOIN book c ON b.book_num = c.book_num
        WHERE true
        <include refid="searchOrderCondition"/>
        GROUP BY a.order_number, a.order_date
        ) as count
    </select>

    <sql id="searchOrderCondition">
        <if test='option=="T"'>
            AND member_email LIKE concat('%', #{keyword}, '%')
        </if>
        <if test='option=="R"'>
            AND member_name LIKE concat('%', #{keyword}, '%')
        </if>
        <if test='startDate != null and startDate != "" and endDate != null and endDate != "" '>
            AND DATE(order_date) BETWEEN #{startDate} AND #{endDate}
        </if>
    </sql>

    <update id="updateOrderState">
        UPDATE `order`
        SET order_state = #{confirmNumber}
        WHERE order_number = #{orderNumber}
    </update>

</mapper>
