<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookstore.mypage.mapper.OrderMapper">

    <!-- 구매 예정 도서 정보 장바구니 저장 -->
    <insert id="addCart" parameterType="com.bookstore.mypage.domain.CartDto">
        INSERT INTO cart(member_email, book_orderCount, book_num)
        VALUES (#{memberEmail}, #{bookOrderCount}, #{bookNum})
    </insert>

    <select id="readCartInfo" parameterType="String" resultType="com.bookstore.mypage.domain.CartDto">
        SELECT *
        FROM cart
        WHERE member_email = #{memberEmail}
    </select>

    <delete id="deleteCartInfo" parameterType="int">
        DELETE
        FROM cart
        WHERE cart_num = ${cartNum}
    </delete>

    <!-- 도서 검색 상세 페이지 출력 -->
    <select id="searchBookByBookNum" parameterType="int" resultType="com.bookstore.mypage.domain.CartDto">
        SELECT book_num, book_title, book_price, book_pictureUrl, book_thumbUrl
        FROM book
        WHERE book_num = #{bookNum}
    </select>

    <!-- 메인 배송주소 정보 검색  -->
    <select id="searchMainAddressByMemberEmail" parameterType="String" resultType="com.bookstore.mypage.domain.AddressDto">
        SELECT *
        FROM address
        WHERE memberEmail = #{memberEmail} AND address_checkMain = 'MAIN'
    </select>

    <!-- 추가된 배송주소 정보 검색 -->
    <select id="searchAddedAddressByMemberEmail" parameterType="String" resultType="com.bookstore.mypage.domain.AddressDto">
        SELECT *
        FROM address
        WHERE memberEmail = #{memberEmail} AND address_checkMain = 'ADDITION'
        ORDER BY IFNULL(address_registerDate, 0) DESC
    </select>

    <!-- 배송주소 등록 -->
    <insert id="registerAddress" parameterType="com.bookstore.mypage.domain.AddressDto">
        INSERT INTO address(memberEmail, receiver_address, receiver_name, receiver_phone, address_checkMain)
        VALUES (#{memberEmail}, #{receiverAddress}, #{receiverName}, #{receiverPhone}, #{addressCheckMain})
    </insert>

    <!-- 배송주소 수정 -->
    <update id="updateAddress" parameterType="com.bookstore.mypage.domain.AddressDto">
        UPDATE address
        SET receiver_name = #{receiverName}, receiver_address = #{receiverAddress}, receiver_phone = #{receiverPhone}
        WHERE memberEmail = #{memberEmail}
    </update>

    <!-- 도서 주문 정보 등록   -->
    <insert id="registerOrderInfo" parameterType="com.bookstore.mypage.domain.OrderDto">
        INSERT INTO `order`(book_num, book_orderCount, member_email, member_address)
        VALUES (#{bookNum}, #{bookOrderCount}, #{memberEmail}, #{memberAddress});
    </insert>

    <!-- 도서 판매량 및 재고 업데이트 -->
    <update id="updateBookInfo" parameterType="com.bookstore.mypage.domain.OrderDto">
        UPDATE book
        SET book_sellCount = book_sellCount + #{bookOrderCount}, book_stock = book_stock - #{bookOrderCount}
        WHERE book_num = #{bookNum}
    </update>

    <!-- 고객 포인트 수정 -->
    <update id="updateMemberPointInfo" parameterType="com.bookstore.mypage.domain.PayInfoDto">
        UPDATE member
        SET member_point = member_point - #{totalPrice}
        WHERE member_email = #{memberEmail}
    </update>

    <!-- 포인트 사용 내역 등록 -->
    <insert id="registerPointUse" parameterType="com.bookstore.mypage.domain.PayInfoDto">
        INSERT INTO point(member_Email, point_use, point_current)
        VALUES (#{memberEmail}, #{totalPrice}, #{memberPoint})
    </insert>



</mapper>
