@charset "UTF-8";
#main {
}

.logo {
	text-align: center;
}

.main_title {
	width: fit-content;
	margin: auto;
	border: 2px solid #ced4da;
	padding: 40px;
	margin-top: 50px;
}

#mail_check {
	width: 120px;
	margin-top: 20px;
	background-color: #868e96;
	border-color: #868e96;
	font-size: 14px;
}

#mail_num_sign {
	width: 120px;
	margin-top: 20px;
	background-color: #868e96;
	border-color: #868e96;
	font-size: 14px;
}

#user_email {
	width:200px;
	float: left;
	margin-right: 10px;
}

#user_mail_check {
	width:200px;
	float: left;
	margin-right: 10px;
}

#signUp {
	width: 300px;
	margin-left: 10px;
	margin-bottom: 20px;
	color: white;
	background-color: #ff7f00;
	border-color: #ff7f00;

}

.login__input {
	margin-top: 40px;
}
