@charset "UTF-8";

#main {
}

.main_title {
	width: fit-content;
	margin: auto;
	border: 2px solid #ced4da;
	padding: 40px;
}

.join_btn {
	width: 300px;
	text-align: center;
	margin-top: 20px;
}

#line {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 14px;
	margin: 25px 0px;
}
#line::before,
#line::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

#btn_google {
	height: 50px;
	width: 220px;
	margin-left: 60px;
	margin-top: 100px;
}

